.flex-container {
    display: flex;
}

.flex-item1{
    background-color: #F2F4F1;
    border: 1px;
    height: 100vh;
    width: 70%;
}

.flex-item2{
    background-color: #DCE1DA;
    height: 100vh;
    width: 30%;
}